{{> nav }}

<h1>Blogger Profile</h1>

<h1>{{ name }}</h1>
<a href="mailto:{{ email }}" target="_blank">Contact User</a>
{{!-- opening syntax --}}
{{#each projects}}
{{!-- closing syntax --}}

<hr />

<h2>{{ name }}</h2>

<p>{{ description }}</p>

<p>Funding Needed: ${{ needed_funding }}</p>

<a href="/blogs/{{ id }}">
	Click for more information
</a>

<br />
{{!-- below here --}}
<button id="{{id}}">Delete</button>

{{/each}}


<hr />

<form id="blog">
	{{!-- name, description, needed_funding --}}
<label>Name
		<input id="blog-name" type="text" placeholder="ex. School Trip" required />
	</label>
	<label>description:
		<input id="blog-description" type="text" placeholder="Blog description" required />
	</label>
	<label>
		needed_funding
		<input id="blog-needed_funding" type="number" required />
	</label>

	<input type="submit" value="Add Blog"/>
</form>

<script src="/js/delete.js"></script>
<script src="/js/addblog.js"></script>